body {
    background-color: #fff;
}

.navbar {
	margin-bottom: 17px;
	background-color:#8964BE;

}

.doWhite {
    color: #fff;
}

.doWhite:hover {
    color:#8964BE;
    transition: 500ms;
    background-color: #fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #ffffff;
}

.icon-bar {
    background-color: white;
}

@media only screen and (min-width: 600px) {
	.carousel-caption {
		font-size: 25px;
	}

}

@media only screen and (max-width: 320px) {
	 .carousel-caption {
		font-size: 15px;
}

}

.item {
	max-height: 550px;
}

img {
	height: 100%;
	width: 100%;
}

.item p {
	color:"#C6A488";
}

.masterContainer {
	height: 500px;
	width: 260px;
	border-width: 10px;
	border-radius: 2em;
	border:1px solid #000;
	margin-left: 15px;
	margin-top: 30px;
	background-color:#ECEDEC;
	float:left;
}

.masterContainer:hover {
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	transition: 300ms;
}

.dot {

	width: 7px;
	height: 7px;
	background-color:#100F17;
	margin: auto;
	margin-top: 0;
	margin-bottom:7px;
	border-radius: 2em;
}
.speaker {
	margin: auto ;
	width: 40px;
	border-radius: 2em;
	height: 6px;
	margin-bottom: 10px;
	background-color: #686C6C;
}
.back {
	background-color:#ECEDEC;
	margin: auto;
	height: 40px;
	width: 40px;
	margin-bottom: 10px;
	border-radius: 2em;
	border:3px solid #3F3A41;
	transition: 300ms;
}

.back:hover {
	border-color:#908D91;
}
ul{
	list-style-type: none;
}

.listOutput {
	height: 500px;
	width: 900px;
	border-width: 10px;
	border-radius: 2em;
	border:1px solid #000;
	margin-top: 30px;
	margin-right: 100px;
	background-color:#ECEDEC;
	float: right;
}

.listOutput:hover {
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	transition: 300ms;
}

.rect {
	height: 420px;
	width: 740px;
	background-color: white;
	margin: 0 auto;
	margin-top: 40px;
	padding: 10px 10px 10px 10px;
	overflow-y:scroll;
}
.backPad {
	margin-top: 220px;
	float: left;
}
.dotPad {
	margin-top: 240px;
	float: right;
}

.bottomMargin {
	margin:10px;
}
.listHead {
	font-size: 30px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #8964BE;
 	border-bottom: 16px solid #8964BE;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 220px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}









footer{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  /* gird-template-rows: 4fr 6fr; */

}

#songSlider{
    width: 100%;
    height: 3px;
    background-color: blue;
    padding-top: 1em;
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 3px;
    background-color: red;
    padding-top: 1em 
}
