html,body{
  margin: 0;
  padding: 0;
}
/* .container{
  display: grid | inline ;
  grid-template-rows: 15vh 70vh 15vh;
} */
.header{

  min-height: 5%;

}
.main{
  background-color : green;
  min-height: 80%;
  max-height: 80%;

  overflow: auto;
}
.footer{
  /* background-color: yellow; */
  min-height: 15%;
  /* position: absolute; */
  background-color: yellow;
}

ul{
  margin-top: 5px;
margin-bottom: 5px;
}
#navbar li{
  margin: 0;
  padding: 3px;
  display: inline;
  text-align: center;
  vertical-align: middle;

}





a{
  text-decoration: none;
  color: green;
}




/*Song location slider*/
#songSlider{
    width: 100%;
    height: 3px;
    background-color: black;
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 3px;
    background-color: red;
}
